// color of background tab and text
.tab {
    -fx-background-color:lightslategray;
    -fx-text-base-color:white;
    /*
    // indents inside tab
    -fx-padding: 1.0em 1.0em 1.0em 1.0em;
    */
}

// color of selected tab
.tab-pane .tab:selected {
    -fx-background-color:black;
}

// indents
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em; // top, right, bottom, left
}

// size of tab
.tab-pane {
    -fx-tab-min-width:160.0px;
    -fx-tab-max-width:180.0px;
    -fx-tab-max-height:20.0px;
}

// color of pane
.tab-pane *.tab-header-background {
   -fx-background-color:gainsboro;
}

// color of cross
.tab .tab-close-button {
    -fx-background-color:red;
}